.about h1 {
    font-size: 40px;
    letter-spacing: 0.01em;
}

hr {
    width: 150px;
    border-top: 4px solid #054c90;
}

.about img {
    width: 250px;
}

section {
    min-height: 400px;
}

.jumbotron {
    background-color: #ffffff;
}
